package pages

import "github.com/cativovo/budget-tracker/internal/ui/layouts"
import "github.com/cativovo/budget-tracker/internal/store"

type HomeProps struct {
	Expenses []store.ListExpensesRow
}

templ Home(props HomeProps) {
	@layouts.Main() {
		for _, expense := range props.Expenses {
			<li>{ expense.Name }</li>
		}
	}
}
